@model GroupDetailsViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<asp:Content ID="MultiSelectContent" runat="server" ContentPlaceHolderID="MultiSelectContent">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
</asp:Content>

<div class="row">
    <div class="col-md-8">
        <h1>@Model.Name @ViewData["Title"]</h1>
        <p>Owner name: @Model.OwnerName</p>
    </div>
    @if (Model.OwnerName == this.User.Identity.Name)
    {
        <a class="btn btn-info col-md-2 align-self-center" asp-controller="Requests" asp-action="All" asp-route-groupId="@Model.Id">Group Requests</a>
        <div class="col-md-2 align-self-center">
            <form asp-controller="Groups" asp-action="DeleteGroup" method="post">
                <input type="text" name="groupName" value="@Model.Name" hidden />
                <input onclick="return confirm('Are you sure you want to delete this group?');" class="btn btn-danger text-white" type="submit" value="Delete Group" />
            </form>
        </div>
    }
    @if (!Model.IsUserInGroup)
    {
        <div class="col-md-2 align-self-center">
            <form asp-controller="Requests" asp-action="Join" method="post">
                <input type="text" name="groupId" value="@Model.Id" hidden />
                <input type="text" name="userName" value="@this.User.Identity.Name" hidden />
                <input class="btn btn-success text-white" type="submit" value="Join" />
            </form>
        </div>
    }
</div>

<div class="row">
    <ul class="list-group col-md-12">
        @foreach (var name in Model.GroupUserNames)
        {
            <li class="list-group-item d-md-flex justify-content-between">
                @name
                <div>
                    @if (Model.OwnerName == this.User.Identity.Name)
                    {
                        <form asp-controller="Groups" asp-action="RemoveUser" method="post">
                            <input type="text" name="username" value="@name" hidden />
                            <input type="text" name="groupId" value="@Model.Id" hidden />
                            <input onclick="return confirm('Are you sure you want to remove this user?');" class="btn btn-danger text-white ml-md-2" type="submit" value="Remove User" />
                        </form>
                    }
                </div>
            </li>
        }
    </ul>
    <div class="col-md-7"></div>
    <div class="col-md-5">
        @if (Model.OwnerName == this.User.Identity.Name)
        {
            <form asp-controller="Groups" asp-action="Details" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="d-md-flex justify-content-between">
                    <vc:users-list></vc:users-list>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Add" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@if (Model.GroupUserNames.Contains(this.User.Identity.Name))
{
    <div class="row">
        <h1 class="text-center">@Model.Name Songs</h1>
        <ul class="list-group col-md-12">
            @foreach (var song in Model.Songs)
            {
                <li class="list-group-item d-md-flex justify-content-between">
                    <a asp-controller="Songs" asp-action="Details" asp-route-songId="@song.SongId">@song.Name</a>
                    <div>
                        @if (Model.OwnerName == this.User.Identity.Name)
                        {
                            <form asp-controller="Groups" asp-action="RemoveSong" method="post">
                                <input type="text" name="songId" value="@song.SongId" hidden />
                                <input type="text" name="groupName" value="@Model.Name" hidden />
                                <input onclick="return confirm('Are you sure you want to remove this song?');" class="btn btn-danger text-white ml-md-2" type="submit" value="Remove Song" />
                            </form>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/createGroup.js"></script>
}
